<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My awesome website</title>
    <link rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Yellowtail:400' rel='stylesheet' type='text/css'>
</head>

<body>

    <section class="hero">
        <div class="hero-inner">
            <div class="idk">
                <img class="img" src="../../assets/img/sobre_mi.png">
                <h2>Hola! Soy Claudio Nuñez</h2>
                <hr class="hr">
                Buenas que tal espero que estés bien! Soy Desarrollador
                Fullstack, actualmente estoy
                trabajando como dependiente.
                <hr class="hr">
                En mis tiempos libres estoy desarrollando distintos tipos de videojuegos para
                expandir mis
                conocimientos y mi portafolio en itch.io
                <hr class="hr">
                Tengo 27 años, el menor de 3 hermanos, vivo con 3 gatos y 2 cobayos
                y mi pasión son los videojuegos.
                <hr class="hr">
                Mi gran sueño a cumplir es crear una empresa que permita a todos quienes anhelen
                con entrar a la
                industria de videojuegos y
                puedan dar su primer paso. Al igual como lo estoy haciendo yo en la actualidad.
                <hr class="hr">

            </div>
        </div>
    </section>

    <div class="bgimg-2">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">EXPERIENCIA
                LABORAL</span>
        </div>
    </div>

    <div class="Timeline">

        <svg height="5" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <div class="event2">

            <div class="event2Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        CONSULTOR
                        <div class="MonthYear">ENERO 2016 – MARZO 2017</div>
                    </div>
                </div>
                <div class="eventTitle">ACTIVE IT SPA</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
        </div>

        <div class="event1">

            <div class="event1Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        CONSULTOR
                        <div class="MonthYear">ABRIL 2017 – MAYO 2018</div>
                    </div>
                </div>
                <div class="eventTitle">INNOVA GROUP SPA</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>

        </div>

        <svg height="5" width="300">
            <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <div class="event2">

            <div class="event2Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        JAVA DEV
                        <div class="MonthYear">AGOSTO 2018 – ENERO 2019</div>
                    </div>
                </div>
                <div class="eventTitle">AEURUS LTDA</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
        </div>

        <div class="event1">

            <div class="event1Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        JAVA DEV
                        <div class="MonthYear">ENERO 2019 – JUNIO 2019</div>
                    </div>
                </div>
                <div class="eventTitle">MINISTERIO B.N.</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>

        </div>

        <svg height="5" width="50">
            <line x1="0" y1="0" x2="50" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <svg height="5" width="200">
            <line x1="0" y1="0" x2="200" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <div class="event2">

            <div class="event2Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        CONSULTOR SSR
                        <div class="MonthYear">JUNIO 2019 – FEBRERO 2020</div>
                    </div>
                </div>
                <div class="eventTitle">INNOVA GROUP SPA</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
        </div>

        <div class="event1">

            <div class="event1Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        JAVA DEV
                        <div class="MonthYear">FEBRERO 2020 – AGOSTO 2021</div>
                    </div>
                </div>
                <div class="eventTitle">SONDA S.A.</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>

        </div>

        <svg height="5" width="300">
            <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <div class="event2">

            <div class="event2Bubble">
                <div class="eventTime">
                    <div class="DayDigit"></div>
                    <div class="Day">
                        FULLSTACK
                        <div class="MonthYear">AGOSTO 2021 – ENERO - 2022</div>
                    </div>
                </div>
                <div class="eventTitle">3IT</div>
            </div>

            <svg height="20" width="20">
                <circle cx="10" cy="11" r="5" fill="#004165" />
            </svg>
        </div>

        <svg height="5" width="300">
            <line x1="0" y1="0" x2="300" y2="0" style="stroke:#004165;stroke-width:5" />
            Sorry, your browser does not support inline SVG.
        </svg>

        <div class="event2">

            <div class="now">
                <div class="Day">
                    BACKEND
                    <div class="MonthYear">FEBRERO 2022 – ACTUALIDAD</div>
                </div>
                <div class="eventTitle">SIIGROUP</div>
            </div>
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">EDUCACION</span>
        </div>
    </div>

    <div class="rowimg">
        <div class="columnimg">
            <img src="../../assets/img/duoc-uc-logo-F1437952BE-seeklogo.com.png" style="width:30%">
            <span><a href="https://github.com/devarkoru/cn-mf-portal/blob/main/src/assets/certificado.pdf">
                Certificado de Título: Analista Programador Computacional</a></span>

            
        </div>
        <div class="columnimg">
            <img src="../../assets/img/duoc-uc-logo-F1437952BE-seeklogo.com.png" style="width:30%">
            <span><a href="https://github.com/devarkoru/cn-mf-portal/blob/main/src/assets/Certificado%20de%20Titulo.pdf">
                Certificado de Título: Ingenieria en Informática </a></span>
            
        </div>
    </div>

    <div class="bgimg-3">
        <div class="caption">
            <span class="border" style="background-color:transparent;font-size:25px;color: #f7f7f7;">CERTIFICADOS</span>
        </div>
    </div>

    <div class="rowimg">
        <div class="columnimg">
            <img src="../../assets/img/coderhouse-logo.png" style="width:30%">
            <span><a href="https://www.coderhouse.cl/certificados/61e32fef67a90a002ff7a64f"> [Coderhouse]
                Desarrollador de Videojuegos - Unity</a></span>
        </div>
        <div class="columnimg">
            <img src="../../assets/img/udemy-new-20212512.jpg" style="width:40%">
            <span><a href="https://www.udemy.com/certificate/UC-cfa9fa01-8332-41d0-8869-98b0e34f5103/"> [Udemy]
                Desarrollador de Videojuegos - Unity</a></span>
        </div>
    </div>

</body>

</html>