<html>
  <body>
    <div class="container">
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>01</h2>
            <h3>Quien soy</h3>
            <p>Aquí encontrarás información sobre mi respecto a intereses personales y profesionales</p>
            <a routerLink="/portal/cv" routerLinkActive="active">Click para ver más</a>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>02</h2>
            <h3>Gaming</h3>
            <p>Jugar? Me encantan los videojuegos, aquí podrás ver mis actividades en una variedad de juegos</p>
            <a routerLink="/portal/perfil-gamer" routerLinkActive="active">Click para ver más</a>
          </div>
        </div>
      </div>
    
      <div class="card">
        <div class="box">
          <div class="content">
            <h2>03</h2>
            <h3>Portafolio</h3>
            <p>Aquí estaré construyendo distintas demos que me ayudan a reforzar mis conocimientos de desarrollo</p>
            <a routerLink="/portal/portafolio" routerLinkActive="active">Click para ver más</a>
          </div>
        </div>
      </div>
    </div>
  </body>
  <router-outlet></router-outlet>
</html>